.scroll-stack-scroller {
  width: 100%;
}

.scroll-stack-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-stack-card {
  width: 100%;
  position: relative;
  z-index: 1;
}

.scroll-stack-end {
  height: 50vh;
  width: 100%;
  pointer-events: none;
}
